:root {
  --main-color: #2c476d;
}
.auth-container {
  width: 100%;
  height: 100vh;
  background-color: #e9f2fc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.auth-box {
  width: 900px;
  height: 650px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.illustration{
     display: flex;
    justify-content: center;
}
/* ===== Left Section ===== */
.auth-left {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #2c476d;
  align-items: center;
}

.illustration img {
  width: 90%;
  max-width: 380px;
}

/* ===== Right Section ===== */
.auth-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
}

.logo {
  text-align: center;
  margin-bottom: 25px;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo h2 {
  margin: 10px 0 5px;
  font-size: 22px;
  font-weight: bold;
  color: #222;
}

.logo p {
  font-size: 14px;
  color: var(--main-color);
}

/* ===== Form Styling ===== */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
.generate-otp{
    text-align: end;
    margin-right: 2px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.generate-otp a {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

.generate-otp a:hover {
  text-decoration: underline;
}
/* ===== Responsive Design ===== */

/* Tablets (≤ 900px) */
@media (max-width: 900px) {
  .auth-box {
    width: 95%;
    height: auto;
    flex-direction: column;
  }

  .auth-left {
    order: 1;
    padding: 30px 0;
  }

  .auth-right {
    order: 2;
    padding: 30px 25px;
  }

  .illustration img {
    width: 70%;
    max-width: 300px;
  }
}

/* Mobile (≤ 600px) */
@media (max-width: 600px) {
  .auth-container {
    padding: 10px;
  }

  .auth-right {
    padding: 20px 15px;
  }

  .logo h2 {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 13px;
    padding: 10px;
  }

  .btn-primary {
    font-size: 15px;
    padding: 10px;
  }

  .illustration img {
    width: 60%;
  }
}
